VITE_SUPABASE_URL=https://yfrcaspasoyzorinmkjg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlmcmNhc3Bhc295em9yaW5ta2pnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5ODQzMjcsImV4cCI6MjA5NjU2MDMyN30.g5Luo4f_zMOV2SmTqxDdTH6G5mzVaZfHdZzsLnHkhNk
VITE_GOOGLE_MAPS_API_KEY=your-google-maps-browser-key
