VITE_SUPABASE_URL=https://nctjfcdsxdeqfruezcub.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5jdGpmY2RzeGRlcWZydWV6Y3ViIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExNzk1OTQsImV4cCI6MjA5Njc1NTU5NH0.Je-F3iDigah-Wf8rJ_E4o6nB1VtFnAqJXR7woxgDUgM

VITE_GOOGLE_MAPS_API_KEY=AIzaSyBcgWQXDLcpA4lEvE9SYpLo2qQdiPW0bz4